{% if site.comments.provider == 'giscus' and page.comments %}
<script src="https://giscus.app/client.js"
    data-repo="{{ site.comments.giscus.repo }}"
    data-repo-id="{{ site.comments.giscus.repository_id }}"
    data-category="{{ site.comments.giscus.category }}"
    data-category-id="{{ site.comments.giscus.category_id }}"
    data-mapping="{{ site.comments.giscus.mapping }}"
    data-strict="0"
    data-reactions-enabled="{{ site.comments.giscus.reactions_enabled }}"
    data-emit-metadata="0"
    data-input-position="{{ site.comments.giscus.input_position }}"
    data-theme="{{ site.comments.giscus.theme }}"
    data-lang="{{ site.comments.giscus.lang }}"
    crossorigin="anonymous"
    async>
</script>
{% endif %}